[submodule "example/extern/googletest"]
	path = example/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "example/extern/iotivity"]
	path = example/extern/iotivity
	url = https://github.com/iotivity/iotivity.git
[submodule "example/.\\extern\\libconfig"]
	path = example/.\\extern\\libconfig
	url = https://github.com/hyperrealm/libconfig.git
